{{head-layout}}

<header>
  <nav>
    <ul>
      <li><a href="" {{action 'setThemeOne'}}>Change to Theme 1</a></li>
      <li><a href="" {{action 'setThemeTwo'}}>Change to Theme 2</a></li>
    </ul>
  </nav>
</header>

<main>
  {{outlet}}
</main>
